<div class="grid grid-cols-2 gap-2">
    <div>
        <img class="w-full h-64 object-contain rounded-lg border-2 border-purple-300 p-2" src="https://i.pinimg.com/736x/cb/cf/10/cbcf10c60c478aac6fb52fd87c745846.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-64 object-contain rounded-lg border-2 border-purple-300 p-2" src="https://i.pinimg.com/736x/92/8b/d6/928bd61af55d834c28d39f987315f890.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-64 object-contain rounded-lg border-2 border-purple-300 p-2" src="https://i.pinimg.com/736x/88/ed/6e/88ed6e4be188e96b09c41741d9e02586.jpg" alt="">
    </div>
    <div>
        <img class="w-full h-64 object-contain rounded-lg border-2 border-purple-300 p-2" src="https://i.pinimg.com/736x/7c/54/be/7c54be8d4d862e02df993947d883d283.jpg" alt="">
    </div>
</div>



